#body{background-color:rgb(247, 255, 255);
}
#h1{font-size: 40px;
    width: 15.5cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#Hall_link{color:black ;
}
#leophoto{width: 100px;height: 100px;
    float: right;
    border: thin black;
    border-radius:  25%;
}
#h2{font-size: 25px;width: 11.2cm;
}
#RoiUser_link{color:black ;
}
#editor{width: 15.5cm;
}
#button{float: right;
font-size: 25px;
width: 6cm;
border-color: red;
border-radius: 0.1cm;
background-color: rgb(210, 210, 210);
}
#Youtube_link{color :black;
}
#p1{word-spacing: 4px;
    letter-spacing: 2px;
}
#p2{word-spacing: 4px;
    letter-spacing: 2px;
}
span{font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}
